{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- basic page needs -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gallery-Keerthana B</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
</head>

<body id="top">
    <!-- preloader -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- page wrap -->
    <div id="page" class="s-pagewrap">
        <!-- site header -->
        <header class="s-header">
            <div class="row s-header__inner width-sixteen-col">
                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="{% url 'home' %}">
                            <img src="{% static 'images/Kb.png' %}" alt="Homepage">
                        </a>
                    

            </div> <!-- end s-header__inner -->
        </header> <!-- end s-header -->

        <!-- site main content -->
        <section id="content" class="s-content">
            <section class="s-pageheader pageheader">
                <div class="row">
                    <div class="column xl-12">
                        <h1 class="page-title">
                            {#<span class="page-title__small-type text-pretitle">My</span>#}
                           My_Gallery
                        </h1>
                    </div>
                </div>
            </section> <!-- pageheader -->  

            <section class="s-pagecontent pagecontent ">
                
                <!-- pageintro -->       

                <div class="row">
                    <div class="column xl-12 grid-block">             
                        <div class="grid-full grid-list-items list-items show-ctr">
                            <div class="grid-list-items__item list-items__item">
                                <div class="list-items__item-header">
                                    <h3 class="list-items__item-title">Dark Image enhancing </h3>
                                </div>
                                <div class="list-items__item-text">
                                    <img src="{% static 'images/di_resized.png' %}" >
                                </div>
                            </div> <!-- end list-items__item -->
                            <div class="grid-list-items__item list-items__item">
                                <div class="list-items__item-header">
                                    <h3 class="list-items__item-title">Smart Aquarium</h3>
                                </div>
                                <div class="list-items__item-text">
                                  <img src="{% static 'images/sa_resized.jpg' %}" >
                           
                                </div>
                            </div> <!-- end list-items__item -->
                            <div class="grid-list-items__item list-items__item">
                                <div class="list-items__item-header">
                                    <h3 class="list-items__item-title">AI Chatbot for Military Rules</h3>
                                </div>
                                <div class="list-items__item-text">
                                    <img src="{% static 'images/milcha_resized.png' %}" >
                                </div>
                            </div> <!-- end list-items__item -->
                            <div class="grid-list-items__item list-items__item">
                                <div class="list-items__item-header">
                                    <h3 class="list-items__item-title">Heart Rate Monitoring System</h3>
                                </div>
                                <div class="list-items__item-text">
                                <img src="{% static 'images/hr_resized.jpg' %}" >
                                 
                                </div>
                            </div> <!-- end list-items__item -->
                            
                            
                        </div> <!-- grid-list-items -->
                    </div> <!-- end grid-block-->
                </div> <!-- end row -->
            </section> <!-- pagecontent -->

            

        <!-- footer -->
        <footer class="s-footer">
                   
            <div class="row s-footer__bottom">
                <div class="column xl-6 lg-12">
                    <ul class="s-footer__social social-list">
                        <li>
                <a href="https://www.linkedin.com/in/keerthana-b-5879a22b6/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);">
                        <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.025-3.036-1.85-3.036-1.851 0-2.135 1.445-2.135 2.937v5.668H9.354V9h3.414v1.561h.049c.476-.9 1.637-1.849 3.369-1.849 3.599 0 4.263 2.368 4.263 5.455v6.285zM5.337 7.433c-1.144 0-2.07-.928-2.07-2.07 0-1.143.926-2.07 2.07-2.07 1.143 0 2.07.927 2.07 2.07 0 1.142-.927 2.07-2.07 2.07zm1.777 13.019H3.56V9h3.554v11.452zM22.225 0H1.771C.792 0 0 .771 0 1.723v20.555C0 23.23.792 24 1.771 24h20.451C23.2 24 24 23.23 24 22.278V1.723C24 .771 23.2 0 22.225 0z"/>
                    </svg>
                    <span class="u-screen-reader-text">LinkedIn</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/iamkb-cpu" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);">
                        <path d="M12 0C5.373 0 0 5.373 0 12c0 5.303 3.438 9.8 8.205 11.387.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61-.546-1.385-1.333-1.756-1.333-1.756-1.087-.744.083-.729.083-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.834 2.809 1.304 3.495.997.108-.775.418-1.304.762-1.604-2.665-.305-5.467-1.332-5.467-5.931 0-1.31.467-2.381 1.236-3.221-.123-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.652.241 2.873.118 3.176.769.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222 0 1.604-.015 2.896-.015 3.286 0 .319.219.694.825.576C20.565 21.795 24 17.299 24 12c0-6.627-5.373-12-12-12z"/>
                    </svg>
                    <span class="u-screen-reader-text">GitHub</span>
                </a>
            </li>
                    </ul> <!-- end s-footer__social -->
                </div>
                <div class="column xl-6 lg-12">
                    <p class="ss-copyright">
                        <span>© Copyright Keerthana B</span> 
                        
                    </p>
                </div>

                <div class="ss-go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><polyline points="17 11 12 6 7 11"></polyline><line x1="12" y1="18" x2="12" y2="6"></line></svg>
                    </a>
                </div> <!-- end ss-go-top -->
            </div>
        </footer> <!-- end s-footer -->
    </div> <!-- end page-wrap -->

    <!-- JavaScript -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>